@media only screen and (max-width: 768px) {

#mobile {
    width: 480px;
}

#a {
    height: 75px;
    }

#b {
    height: 150px;
    }

#c {
    height: 125px;
    }

#d {
    height: 125px;
    }

#e {
    height: 250px;
    width: 50%;
    float: left;
    }

#f {
    height: 250px;
    width: 50%;
    }

#g {
    height: 250px;
    width: 50%;
    }

#h {
    height: 250px;
    width: 50%;
    }

#i {
    height: 80px;
    
    }
}

#a {
    width: 960px;
    background-color: rgb(131, 131, 131)
}

#b {
    background-color: rgb(170, 33, 33);
}

#c {
    background-color: rgb(131, 131, 131)
}

#d {
    background-color: rgb(170, 33, 33);
}

#e {
    background-color: rgb(131, 131, 131)
}

#f {
    background-color: rgb(170, 33, 33);
}

#g {
    background-color: rgb(131, 131, 131)
}

#h {
    background-color: rgb(170, 33, 33);
}

#i {
    background-color: rgb(131, 131, 131)
}



























































































